:root{
	--c-main: ;
	--c-light: ;
	--c-dark: ;
}
* {
	font-size: 1.5em;
	background-color: var(--c-dark);
}
#Invisible-information{
	font-size: 1em;
	color: #111;
}

#Invisible-boycott{
	font-size: 0.5em;
	background-color: red;
}
#Invisible-boycott-temp{
	font-size: 2em;
	background-color: orange;
}
