#IVNotification {
    --notificationWidth: 270px;
    --notificationOffset: 24px;
    --background-color: #fff;
    --textColor: #000;
    width: var(--notificationWidth) + 48px !important;
    min-width: var(--notificationWidth) + 48px !important;
    max-width: var(--notificationWidth) + 48px !important;
    min-height: 48px !important;
    max-height: 256px !important;
    margin: 0px;
    padding: 4px;
    display: flex;
    /* flex-direction: column-reverse; */
    flex-direction: column;
    position: fixed;

    top: 8px;
    left: calc(100vw - var(--notificationWidth) - var(--notificationOffset));

    font-family: "Space Grotesk", "Helvetica", "Arial", sans-serif !important;
    font-size: 14px !important;
    transition: all 0.2s;
    filter: drop-shadow(0px 2px 1px #00000030);
    background-color: var(--background-color) !important;

    z-index: 10000;
    transform-origin: top right;
    transform: translateX(310px);
    border-collapse: collapse;
    border-radius: 0px 8px 8px 8px;
    padding-bottom: 60px;

    &.onScreen {
        transform: translateX(0px);

        >.IVNotificationExpand {
            z-index: -2;
            opacity: 0;
            transform: translateX(calc(var(--notificationWidth) - 24px));
        }

        &.noNotifications {
            padding: 4px;
            transform: translateX(40px);
            height: 40px !important;
            box-sizing: border-box;
            border-radius: 0px;
        }
    }

    &.noNotifications {

        >.IVNotificationSeeOnIV {
            display: flex;
        }

        >.IVNotificationsContainer {
            display: none;
        }

        >.IVNotificationDismiss {
            display: none;
        }
    }

    & * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
}

.IVNotificationSeeOnIV {
    display: none;
    height: 40px;
    padding-inline: 16px !important;
    width: max-content;
    box-shadow: none;
    background-color: var(--background-color);
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: var(--textColor);
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
        background-color: #f4f4f4;
    }
}

.IVNotificationsContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 270px;
    max-height: 192px !important;
    overflow: scroll;
    background-color: var(--background-color) !important;
    box-shadow: none;
}

.IVNotItem,
.IVNotOverlay {
    margin: 0px;
    padding: 0px;
    color: var(--textColor);
    justify-content: space-between;
    align-items: center;
}

.IVNotItem {
    box-sizing: border-box;
    width: 270px;
    /* overflow: hidden; */
    border-radius: 0px !important;
    display: grid;
    grid-template-areas: "title title" "source score";
    grid-template-columns: 50% 50%;
    padding: 8px !important;
    transition: margin-top 0.3s, border-radius 0.3s;
    background-color: var(--background-color);
    position: relative;
    height: 48px !important;
    /* transform: translateX(calc(var(--notificationOffset) * -1)); */
    box-shadow: none;

    & h1,
    h2 {
        display: inline;
        font-weight: 300 !important;
    }

    & h1 {
        font-size: 14px;
        grid-area: title;
        white-space: nowrap;
    }

    & h2 {
        grid-area: score;
        font-size: 24px;
        position: absolute;
        display: flex;
        align-items: center;
        right: 0px;
        bottom: 0px;
        height: 48px;
        padding: 4px;
        padding-left: 48px;
        box-sizing: border-box;
        background: linear-gradient(90deg, transparent, var(--background-color), var(--background-color));
        opacity: 0.9;

        &::after {
            content: var(--outOf);
            font-size: 12px;
            position: absolute;
            right: 4px;
            bottom: 4px;
            color: var(--textColor);
            opacity: 0.7;
        }
    }

    & h3 {
        grid-area: source;
        font-size: 14px;
        font-style: italic;
        white-space: nowrap;
        opacity: 0.2;
        font-weight: 300 !important;
    }
}

.IVNotificationDismiss {
    position: absolute;
    box-sizing: border-box;
    right: 16px;
    left: 16px;
    bottom: 8px;
    margin: 0 !important;
    padding: 0 !important;
    width: 238px;
    height: 40px;
    cursor: pointer;
    background-color: var(--background-color);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F4F4;
    z-index: 2;
    box-shadow: none;

}

.IVNotificationClose,
.IVNotificationExpand {
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    padding: 4px;
    margin: 0;
    height: 48px;
    cursor: pointer;
    border-radius: 0px;
    background-color: var(--background-color);
    transition: background-color 0.2s;
    transform: translateX(-40px);
    border-radius: 8px 0 0 8px;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
}

.IVNotificationClose {
    width: 40px;

    &:hover {
        background-color: #f00;
    }
}

.IVNotificationExpand {
    width: 24px;
}

:is(.IVNotOverlay, .IVNotItem)>* {
    margin: 0px;
    padding: 0px;
    width: unset;
    height: unset;
    background-color: unset;
}

#Invisible {
    overflow-y: scroll;
    overflow-x: hidden;
    right: 0;
    width: 0px;
    top: 0;
    z-index: 2147483647;
    position: fixed;
    border-right: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 100px;
    transition: width .2s;
}

#invisible-voice-window {
    transition: right .2s;
    /* height:inherit; */
    /* height:-webkit-fill-available; */
    height: 100px;
    z-index: 2147483646;
    right: 0;
    bottom: 0;
    padding: 0;
    border-radius: 0;
    position: fixed;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-right: none solid 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNyAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTExLjgzMzMgMTMuMzMzNEw2LjUgOC4wMDAwNEwxMS44MzMzIDIuNjY2NzEiIHN0cm9rZT0iI0ZGRkZGRiIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIvPgo8L3N2Zz4K");
}

#InvisibleVoice-bobble {
    bottom: 10px;
    left: 60px;
    position: fixed;
    padding: 0;
    margin: 0;
    border-radius: 0;
    background-color: transparent;
    object-fit: 1;
}