@keyframes IVNotShadeDown {
    0% {
        transform: translateX(176px);
    }
    100% {
        transform: translateX(-10px);
    }
}
#IVNotification {
    max-width: 200px;
    min-width: 200px;
    height: 48px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    /* inset: 8px 8px auto calc(100vw - 200px); */
    margin-right: 8px;
    top: 8px;
    left: calc(100vw - 200px);
    font-family: "Helvetica", "Arial", sans-serif!important;
    transition: all 0.2s;   
    filter: drop-shadow(0px 2px 1px #00000030);
    z-index: 10000;
    transform-origin: top right;
    transform: translateX(176px);
    border-collapse: collapse;
    border: black solid 1px;
    border-radius: 8px;
    @starting-style {
        transform: translateX(-10px);
    }
    & .IVNotItem:last-of-type{
        padding-left: 40px;
    }

}

#IVNotification:hover {
    animation: IVNotShadeDown 0.3s forwards;
    opacity: 1;
    contain-intrinsic-height: 300px;
    overflow: scroll;
    min-height: 48px;
    height: 300px;
    @starting-style {
        height: 48px;
    }
    .IVNotItem {
        min-height: 48px;
    }
}

#IVNotification.shown {
    opacity: 0;
    transform: translateX(-10px);
}

.IVNotItem, .IVNotOverlay {
    margin: 0px;
    padding: 0px;
    color: black;
    max-width: 200px;
    min-width: 200px;
    height: 48px;
    justify-content: space-between;
    align-items: center;
}
#IVNotification:hover {
    filter: drop-shadow(0px 2px 2px #00000030);
    & .IVNotItem {
        margin-top: 0px;
        border-radius: 0px;
    }
    & .IVHoverNotice {
        opacity: 0;
        margin: 0px;
        padding: 0px;
    }
    & .IVNotItem:last-of-type{
        margin-top:-48px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    & :nth-of-type(2){
        border-radius: 0px 0px 8px 8px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}
.IVNotItem {
    top: 48px;
    box-sizing: border-box;
    width: 200px;
    transform: translateY(0px);
    overflow: hidden;
    display:grid;
    grid-template-areas: "title title" "source score";
    grid-template-columns: 50% 50%;
    outline: 1px solid #111;
    padding: 4px;
    transition: margin-top 0.3s, border-radius 0.3s;
    border: black solid 0px;
    border-radius: 8px;
    background-color: #eee;
    margin-top: -48px;
    margin-bottom: 0px;
    & h1, h2 {
        display: inline;
    }
    & h1 {
        font-size: 18px;
        grid-area: title;
        white-space: nowrap;
    }
    & h2 {
        grid-area: score;
        font-size: 32px;
        position: absolute;
        right: -4px;
        bottom: -4px;
        height: 48px;
        padding: 4px;
        padding-left: 48px;
        box-sizing: border-box;
        background:linear-gradient(90deg, transparent, #eee, #eee) ;
        opacity: 0.9;
    }
    & h3 {
        font-size: 16px;
        font-style: italic;
        grid-area: source;
        white-space: nowrap;
        opacity: 0.7;
    }
}

.IVNotLogo:hover + .IVDismissForever {
    display: block!important;
}

.IVNotItemSS {
    display: block;
    padding-left: 16px;
    line-height: 1em;
    & h1, h2 {
        display: block;
        margin: 0;
        transform: translateY(10px);
        font-size: 1em;
    }
    & h2 {
        font-weight: normal;
    }
}
:is(.IVNotOverlay, .IVNotItem) > * {
        margin: 0px;
        padding: 0px;
        width: unset;
        height: unset;
        background-color: unset;
}

.IVDismissForever {
    display: none;
    position: absolute;
    bottom: -7px;
    left: 0px;
    text-align: center;
    background-color: #08D735; 
    font-size: 0.75em;
	width: 75%;
	margin: 0 12.5%;
	transition: background-color 1s;
}

.IVNotOverlay {
    display: flex;
    z-index: 10;
    position: absolute;
    background: none;
    top: 0px;
    width: 0px;
    height: 0px;
    margin: 0px;
    & .IVNotLogo {
        width: 24px; height: 24px;
        margin-left: 8px;
        transform: translateY(20px);
    }
    & .IVHoverNotice {
        align-self: end;
        font-size: 8px;
        transition: opacity 0.3s;
        transform: translateY(60px);
    }
    & .IVNotClose {
        align-self: start;
        margin-right: 4px;
        width: 24px;
        text-align: right;
        transform-origin: right;
        rotate: 45deg;
    }
    & .IVNotClose:hover {
        color: #333;
    }
}

#Invisible {
    overflow-y: scroll;
    overflow-x: hidden;
    right: 0; 
    width: 0px; 
    top:0;
    z-index: 2147483647; 
    position: fixed;
    border: black solid 1px; 
    border-right: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 100px; 
    transition: width .2s;
}
#invisible-voice-window {
    transition: right .2s;
    /* height:inherit; */
    /* height:-webkit-fill-available; */
    height: 100px;
    z-index: 2147483646;
    right: 0;
    bottom: 0;
    padding: 0;
    border-radius: 0;
    position: fixed; 
    border: black solid 1px;
    margin: auto; align-items:center;
    justify-content: center;
    border-right: none solid 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNyAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTExLjgzMzMgMTMuMzMzNEw2LjUgOC4wMDAwNEwxMS44MzMzIDIuNjY2NzEiIHN0cm9rZT0iI0ZGRkZGRiIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIvPgo8L3N2Zz4K");
}

#InvisibleVoice-bobble {
    bottom: 10px;
    left: 60px;
    position:fixed;
    padding:0;
    margin:0;
    border-radius:0;
    background-color: transparent;
    object-fit:1;
}
